:root {
    --mine-shaft: #333333;
    --jordy-blue: #8EB7ED;
    --royal-blue: #2F80ED;
    --silver: #BDBDBD;
    --alto: #E0E0E0;
    --curious-blue: #2D9CDB;
    --emperor: #4F4F4F;
    --de-york: #6FCF97;
    --eucalyptus: #219653;
    --burnt-sienna: #EB5757;
    --shadow: rgba(163, 163, 163, 0.24);
    --ligth-shadow: rgba(184, 184, 184, 0.64);
    --paragraph-family: "NotoSansUIRegular", Arial, Helvetica, sans-serif;
    --highlighting-family: "NotoSansUIBold", Arial, Helvetica, sans-serif;
}
